.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.example-sidenav {
  background-color: #f2f2f2;
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.left {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
}
.right {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: space-around;
}


/* media querries */

/* @media (max-width: 650px){
  .example-container{
    height: 100vh;
    width: 100vh;
  }

} */